#  RENOMEAR ESTE ARQUIVO PARA variables.env

MYSQL_DATABASE=<database_name>
MYSQL_HOST=<host_name>
MYSQL_PORT=<port>
MYSQL_USER=<user>
MYSQL_PASSWORD=<user_password>
MYSQL_ROOT_PASSWORD:<root_password>
MYSQL_URL=jdbc:mysql://<host_name>:3306/<database_name>?useSSL=false&allowPublicKeyRetrieval=true
